.cart{
    height: 10%;
    background-color: #ff99003f;
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size: 17px;
}
.btn-clearCart{
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    background: #FF3030;
border-radius: 4px;
color: white;
border: none;
}